<main>
    <h2 class="main-title">Creando mi usuario</h2>
    <p>Para registrarse debe completar el siguiente formulario y creará su usuario.</p>
    <form action="">
        <div class="row">
            <div class="column-A">
                <label for="name">Nombre</label>
            </div>
            <div class="column-B">
                <input id="name" name="name" type="text">
            </div>
        </div>

        <div class="row">
            <div class="column-A">
                <label for="email">Email</label>
            </div>
            <div class="column-B">
                <input id="email" name="email" type="email">
            </div>
        </div>

        <div class="row">
            <div class="column-A">
                <label for="password">Password</label>
            </div>
            <div class="column-B">
                <input id="password" name="password" type="password">
            </div>
        </div>

        <div>
            <input type="submit">
        </div>
    </form>
</main>