<main>
    <article>
        <h2 class="main-title">Acerca de Repartos.com.ar</h2>
        <p>Dada la situación sanitaria que se está viviendo en estos días y la cuarentena decretada por el gobierno, se vió necesaria la creación de una aplicación web como ésta.</p>
        <p>La idea del sitio es brindar una guía de acceso gratuita a la gente que necesita un recibir un producto y no puede moverse de casa.</p>
        <p>Los visitantes del sitio o dueños de comercios pueden colaborar aportando datos de locales comerciales que entreguen sus productos por delivery.</p>
        <p>Los locales pueden variar, pueden ser locales de ropa, de comida rápida, de bebidas, farmacias, etc.</p>
        <ul class="images">
            <li><img src="./assets/images/burger.jpg" alt="Hamburguesa"></li>
            <li><img src="./assets/images/alcohol.jpg" alt="Bebidas"></li>
            <li><img src="./assets/images/clothes.jpg" alt="Ropa"></li>
            <li><img src="./assets/images/medication.jpg" alt="Farmacia"></li>
        </ul>
    </article>
</main>