<main>
    <article>
        <h2 class="main-title">Pizzas Y Empanadas</h2>
        <div class="comercioDiv" *ngFor="let comercio of comerciosDePizzas" >
            <div>{{comercio.title}}</div>
            <div>{{comercio.address}}</div>
            <div>{{comercio.phone}}</div>
        </div>
    </article>

    <article>
        <h2 class="main-title">Pollos</h2>
        <div class="comercioDiv" *ngFor="let comercio of comerciosDePollos" >
            <div>{{comercio.title}}</div>
            <div>{{comercio.address}}</div>
            <div>{{comercio.phone}}</div>
        </div>
    </article>

    <article>
        <h2 class="main-title">Heladerías</h2>
        <div class="comercioDiv" *ngFor="let comercio of comerciosDeHeladerias" >
            <div>{{comercio.title}}</div>
            <div>{{comercio.address}}</div>
            <div>{{comercio.phone}}</div>
        </div>
    </article>


    <!-- <article>
        <h2 class="main-title">Pizzas Y Empanadas</h2>
        <div>
            <div>il tano</div>
            <div>17 y 39</div>
            <div>4835129-4835143</div>
        </div>
        <br>
        <div>
            <div>pizza y calzoni</div>
            <div>60 n 543 entre 5y6</div>
            <div>4823422   /  0800-222-8678</div>
        </div>
        <br>
        <div>
            <div>Pizzeria Don Napoleon</div>
            <div>3 E/ 53 Y 54</div>
            <div>4898007</div>
        </div>
    </article>

    <article>
        <h2 class="main-title">Pollos</h2>
        <div>
            <div>Pollajería guemes</div>
            <div>19 esquina 39</div>
            <div>4245526</div>
        </div>
        <br>
        <div>
            <div>Pollajería La Dolores</div>
            <div>44 n° 1126 1/2 entre 17 y 18</div>
            <div>0221- 156166481</div>
        </div>
        <br>
        <div>
            <div>Avícola Don Antonio</div>
            <div>14 esq. 40</div>
            <div>Sin teléfono</div>
        </div>
    </article>

    <article>
        <h2 class="main-title">Heladerías</h2>
        <div>
            <div>Il Capo Plaza Azcuenaga</div>
            <div>Plaza Azcuénaga Esq. 44</div>
            <div>0221-451-4444</div>
        </div>
        <br>
        <div>
            <div>Heladeria positano</div>
            <div>4 esq. 42</div>
            <div>4251521</div>
        </div>
        <br>
        <div>
            <div>Caribe Helados</div>
            <div>25 esq 500</div>
            <div>15 5011468</div>
        </div>
    </article> -->
</main>

<section class="registro">
    <h2>Recibe novedades</h2>
    <p>Si quieres enterarte de los avances de este sitio, ingresa tu dirección de e-mail</p>
    <form action="">
        <input type="email" name="email" id="email" required placeholder="Escribe tu correo">
    </form>
</section>