.registro {
    background-color: #e3c0d3;
    text-align: center;
    padding: 10px 20px;
}

.registro h2, .registro p {
    background-color:#e3c0d3;
}

.registro input {
    margin-top: 20px;
    padding: 15px;
    border: 4px solid white;
    border-radius: 25px;
    width: 80%;
}

.registro input:focus {
    outline: none;
    border: 4px solid orangered;
    border-radius: 25px;
}

.registro input:valid {
    border: 4px solid  greenyellow;
}

.comercioDiv {
    margin-bottom: 10px;
}