<main>
    <article>
        <h2 class="main-title">Pizzas Y Empanadas</h2>
        <div class="comercioDiv" *ngFor="let comercio of comerciosDePizzas" >
            <div *ngIf="isLogged()">
                <button class="actionButton" (click)="eliminarComercio(comercio)">Eliminar</button>
                <button class="actionButton" (click)="editarComercio(comercio)">Editar</button>
            </div>
            <div><span class="icono"><i class="fas fa-store"></i></span>{{comercio.nombre}}</div>
            <div><span class="icono"><i class="fas fa-map-marker-alt"></i></span>{{comercio.direccion}}</div>
            <div><span class="icono"><i class="fas fa-phone"></i></span>{{comercio.telefono}}</div>
        </div>
    </article>

    <article>
        <h2 class="main-title">Pollos</h2>
        <div class="comercioDiv" *ngFor="let comercio of comerciosDePollos" >
            <div *ngIf="isLogged()">
                <button class="actionButton" (click)="eliminarComercio(comercio)">Eliminar</button>
                <button class="actionButton" (click)="editarComercio(comercio)">Editar</button>
            </div>
            <div><span class="icono"><i class="fas fa-store"></i></span>{{comercio.nombre}}</div>
            <div><span class="icono"><i class="fas fa-map-marker-alt"></i></span>{{comercio.direccion}}</div>
            <div><span class="icono"><i class="fas fa-phone"></i></span>{{comercio.telefono}}</div>
        </div>
    </article>

    <article>
        <h2 class="main-title">Heladerías</h2>
        <div class="comercioDiv" *ngFor="let comercio of comerciosDeHeladerias" >
            <div *ngIf="isLogged()">
                <button class="actionButton" (click)="eliminarComercio(comercio)">Eliminar</button>
                <button class="actionButton" (click)="editarComercio(comercio)">Editar</button>
            </div>
            <div><span class="icono"><i class="fas fa-store"></i></span>{{comercio.nombre}}</div>
            <div><span class="icono"><i class="fas fa-map-marker-alt"></i></span>{{comercio.direccion}}</div>
            <div><span class="icono"><i class="fas fa-phone"></i></span>{{comercio.telefono}}</div>
        </div>
    </article>
</main>

<section class="registro">
    <h2>Recibe novedades</h2>
    <p>Si quieres enterarte de los avances de este sitio, ingresa tu dirección de e-mail</p>
    <form action="">
        <input type="email" name="email" id="email" required placeholder="Escribe tu correo">
    </form>
</section>